.planet__img {
	margin-right: 1em;
	width: 150px;
	border-radius: 10px;
}
.planet__content {
	width: 100%;
}

.planet__description {
	padding-left: 1em;
}

.planet__description > div {
	width: 100%;
}