.person-details {
	padding: 1rem;
}

.person-details .person__img {
	margin-right: 1em;
	width: 110px;
	border-radius: 10px;
}

.person-details .person__content {
	width: 100%;
}

.person-details .person__description {
	padding-left: 1em;
}

.person-details .person__description > div {
	width: 100%;
}