header .nav-item {
	cursor: pointer;
	border-radius: 3px;
	
	transition: .15s;
}

header .nav-item:hover {
	background: #005353;
}

header button {
	margin-left: 1em;
	padding: 0.5rem 1rem !important;
}